/* style.css */

:root {
       --cor1: #074173; /* Azul Escuro */
       --cor2: #1679AB; /* Azul Claro */
       --cor3: #5DEBD7; /* Azul Turquesa */
       --cor4: #C5FF95; /* Verde Claro */
       --branco: #fff; /* Branco */
       --cinza-claro: #f4f4f4; /* Cinza Claro */
       --cinza-escuro: #ddd; /* Cinza Escuro */
   }
   
   * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
       font-family: 'Arial', sans-serif;
   }
   
   body {
       background-color: var(--cor2);
       color: var(--branco);
       
}
   
   /* Header */
   header {
       background-color: var(--cor1);
       padding: 2rem 0;
       display: flex;

   }
   
   .logo {
       display: flex;
       align-items: center;
       gap: 1rem;
   }
   
   .logo img {
       height: 50px;
   }
   
   .logo h1 {
       font-size: 1.5rem;
       font-weight: bold;
   }
   
   nav a {
       text-decoration: none;
       color: var(--branco);
       font-weight: bold;
       padding: 1rem 1.5rem;
       border-radius: 0.5rem;
       transition: background-color 0.3s ease;
   }
   
   nav a:hover {
       background-color: var(--cor4);
   }
   
   /* Banner */
   .banner {
       width: 100%;
       margin-top: 2rem;
      
   }
   
   .banner img {
       filter: brightness(0.7); /* Adiciona um filtro de brilho para a imagem */
       top: 0;
       left: 0;
       z-index: -1;
   }
   
   
   .card {
       border: none;
       border-radius: 1rem;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
       overflow: hidden;
       transition: transform 0.2s ease-in-out;
   }
   
   .card:hover {
       transform: translateY(-5px);
   }
   
   .card img {
       width: 100%;
       height: 200px;
       object-fit: cover;
   }
   
   .card-content {
       padding: 1rem;
       background-color: var(--branco);
   }
   
   .card-content h3 {
       font-size: 1.2rem;
       margin-bottom: 0.5rem;
   }
   
   .card-content p {
       margin-bottom: 1rem;
       color: var(--cinza-escuro);
   }
   
   .card-content button {
       background-color: var(--cor1);
       color: var(--branco);
       border: none;
       padding: 0.8rem 1.5rem;
       border-radius: 0.5rem;
       cursor: pointer;
       transition: background-color 0.3s ease;
   }
   
   .card-content button:hover {
       background-color: var(--cor4);
   }
   
   /* Footer */
   footer {
       background-color: var(--cor1);
       padding: 2rem 0;
       text-align: center;
   }
   
   footer p {
       margin-bottom: 1rem;
   }
   
   footer a {
       text-decoration: none;
       color: var(--branco);
       font-weight: bold;
       transition: color 0.3s ease;
   }
   
   footer a:hover {
       color: var(--cor4);
   }
   